/*

  0. Base styles

*/
body {
  font-family: monospace;
  background-color: #f1f1f1;
}

/*

1. Normal SVG Sizing Methods
Sizing the SVG is tricky - wildly different sizes, ratios, and inline attr!

*/

/* Wraps a collection */
.w-icons {
  display: flex;
  flex-wrap: wrap;
}
/* SVG item */
.svg-icon {
  position: relative;
  display: inline-block;
  max-width: 100%;
  width: 10em;
  margin: 0.5em;
  padding: 0.5em;
  background-color: #fff;
  cursor: pointer;
}
  /* wraps SVG w-svg */
  .svg-copy {
    overflow: hidden;
  }
  /* The svg object from the icons folder*/
  .svg-icon svg {
    max-width: 100% !important;
    max-height: calc(100% - 2.2em) !important;
    all: unset !important;
    width: 55px !important;
    display: block !important;
    margin: auto !important;
  }

  /* Hover styles - depending on the SVG markup, this may be stubborn! */
  .svg-icon.active,
  .svg-icon:focus,
  .svg-icon:hover {
    background: #007700;
    color: #fff;
  }
  /* Removing the hover is a good way to hunt for path fill problems */
  .svg-icon.active > .svg-copy svg,
  .svg-icon:hover > .svg-copy svg * {
    fill: #fff !important;
  }
  .icon-label {
    max-width: 8.5em;
  }

  /* Hidden checkmark we use for sprite building */
  .js-spritecheck {
    position: absolute;
    z-index: -1;
  }
  /* The number of SVGs in an accordion */
  .svg-counter {
    position: absolute;
    top: 1.4em;
    right: 1.5em;
    z-index: 0;
  }

/*
  2. Zany SVG sizing hacks
  In the collections I'm testing I'm seeing enough consistently... rude styles
  to make it worth a couple hacks :)
  Bad problems get bad solutions

  Sometimes you have to go deeper too, if the glyph is a certain way try
  `[width="123.547"] *`
*/
svg[height="1024"],
svg[width="1024"] {
  transform: scale(0.05) !important;
}



/* Scrollspy */
a.active {
  color: black;
  font-weight: 700;
}

/* Copy paste tools */
.svg-copyer {
  position: absolute;
  bottom: 2px;
  right: 2px;
  width: 23px;
  height: 22px;
  padding: 0;
  border-radius: 3px;
}
  .svg-copyer svg.icon-paste {
    width: 12px !important;
    height: 12px !important;
    fill: #555;
  }
